# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# Fortran module files
# *.mod
# *.smod

# Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib

# Executables
# *.exe
# *.out
# *.app

/.svn
/.idea
/cmake-*
/build-*
/build/qt/*.user
/build/aarch64/linaro/tk5web.tar
/build/aarch64/linaro/tk_mqtt_tongke.tar
/build/aarch64/linaro/tk_mqtt_roma.tar
/build/aarch64/linaro/libstdc++.so.6.0.24
/assets/.idea
/deploy/
/CxCTX2-Debug/
/CxCTX2-Release/
